<footer class="footer" >
  <div class="container">
    <div class="left-side col-xs-4">
      <h4>Spread the soul</h4>
      <p>Sign up for our newletter or refer a friend and get a free custom engraving ($20.00 value)</p>
      <div class="newletter">
        <input type="text" class="form-control" placeholder="enter email address">
        <a href="#" type="submit"><i class="fa fa-angle-right fa-3" ></i></a>  
      </div> 
      
    </div>

    <div class="right-side col-xs-8">
      <div class="col-xs-2">
        <h5>ski poles</h5>
        <ul>
          <li><a href="#">soulite</a></li>
          <li><a href="#">original soul</a></li>
          <li><a href="#">torched soul</a></li>
          <li><a href="#">vibrant soul</a></li>
          <li><a href="#">ltd. edition</a></li>
          <li><a href="#">g-note</a></li>
          <li><a href="/products/new">custom ski poles</a></li>
        </ul>
      </div>
      <div class="col-xs-2">
        <h5>trekking poles</h5>
        <ul>
          <li><a href="#">soulite</a></li>
          <li><a href="#">original soul</a></li>
          <li><a href="#">torched soul</a></li>
          <li><a href="#">vibrant soul</a></li>
          <li><a href="#">ltd. edition</a></li>
          <li><a href="#">g-note</a></li>
          <li><a href="/products/new">custom ski poles</a></li>
        </ul>
      </div>
      <div class="col-xs-2">
        <h5>apparel</h5>
        <ul>
          <li><a href="#">mens</a></li>
          <li><a href="#">womens</a></li>
          <li><a href="#">tees</a></li>
          <li><a href="#">hoodies</a></li>
          <li><a href="#">hats</a></li>
        </ul>
      </div>
      <div class="col-xs-3">
        <h5>#plantyoursoul</h5>
        <ul>
          <li><a href="/blog">blog</a></li>
          <li><a target="_blank" href="https://www.facebook.com/soulpoles?_rdr=p">facebook</a></li>
          <li><a target="_blank" href="#">twitter</a></li>
          <li><a target="_blank" href="https://instagram.com/soulpoles/">instagram</a></li>
          <li><a target="_blank" href="#">pinterest</a></li>
          <li><a target="_blank" href="#">google +</a></li>
        </ul>
      </div>
      <div class="col-xs-3">
        <h5>everything else</h5>
        <ul>
          <li><a href="#">protect our winters</a></li>
          <li><a href="#">1% for the planet</a></li>
          <li><a href="#">contact us</a></li>
          <li><a href="#">need help?</a></li>
          <li><a href="#">affiliate program</a></li>
          <li><a href="#">referral program</a></li>
          <li><a href="/ambassadors">ambassadors</a></li>
          <li><a href="#">donations</a></li>
        </ul>
      </div>
    </div>    
  </div>
</footer>