
<div class="panel panel-default" id="order_details" data-hook>
  <div class="panel-heading">
    <h3 class="panel-title"><%= Spree.t(:confirm) %></h3>
  </div>
  <div class="panel-body">
    <%= render :partial => 'spree/shared/order_details', :locals => { :order => @order } %>
  </div>
</div>

<div class="well text-right form-buttons" data-hook="buttons">
  <%= submit_tag Spree.t(:place_order), :class => 'btn btn-lg btn-success' %>
  <script>Spree.disableSaveOnClick();</script>
</div>

<script type='text/javascript'>
!function(d,s) {
  var rc = d.location.protocol + "//go.referralcandy.com/purchase/smozqkt571doyfg5h4s23x38b.js";
  var js = d.createElement(s);
  js.src = rc;
  var fjs = d.getElementsByTagName(s)[0];
  fjs.parentNode.insertBefore(js,fjs);
}(document,"script");
</script>
