// Ambassadors Styles
#ambassadors {
  .ambassador-banner {
    background-image: url('ambassadors-banner.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    height: 27em;
    margin-top: -2.5em;
    margin-bottom: 2em;
    z-index: 1;
  }
}