// Ambassadors Styles
#ambassadors {
  .ambassador-banner {
    background-image: url('ambassadors-banner.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    height: 27em;
    margin-top: -2.5em;
    margin-bottom: 2em;
    z-index: 1;
  }
}
// .ambassador-image {
//   height: 12em !important;
// }
.ambassador-back {
  height: 20em;
  background-size: contain;
}
.ambassador-info {
  margin-bottom: 1em;
  span {
    font-weight: bold;
  }
}
hr.divider-ambassador {
  width: 100%;
  height: 1px;
  color: #efefef;
  background-color: #efefef;
  margin: 40px auto 0;
  margin-bottom: 2em;
}
.ambassador-description {
  margin-bottom: 5em;
}
