// Shopping cart
#paypal_button{
  img {
    background-image: url('pp_btn.png');
    width: 153px;
    height: 36px;
    display: inline-block;
  }
}
.cart-header {
  h1 {
    margin-bottom: 0;
  }
  h5 {
    font-weight: 300;
    margin-bottom: 2em;
  }
}

.btn-link {
  background: none !important;
  border: 0;
  padding: 0 !important;
  color: #494949;
  margin-left: 30px;
  font-weight: normal;
  font-style: normal;
}

#line_items {
  td {
    h6 {
      font-weight: 400;
      margin-bottom: 4px;
      margin-top: 0;
    }
  }
  .cart-item-description {
    padding-left: 3em;
    h4 {
        margin-bottom: 1.5em;
        margin-top: 1em;
    }
  }
  .cart-item-quantity {
    h6 {
      float: left;
      margin-top: 10px;
      margin-right: 6px;
    }
    .line_item_quantity {
      width: 70%;
    }
    .btn {
      display: none;
      font-size: 12px !important;
      margin-top: 0.3em;
      margin-left: 55px;
    }
  }
  .cart-item-image {
    img {
      width: 192px;
    }
  }
}

@media (max-width: 1000px) {
  .cart-item-quantity {
    .btn {
      margin-left: 0 !important;
    }
  }
}

.bamboo-color {
  color: #333333;
  font-weight: 300;
}