// Shopping cart
.cart-header {
  h1 {
    margin-bottom: 0;
  }
  h5 {
    font-weight: 300;
    margin-bottom: 2em;
  }
}

#line_items {
  td {
    h6 {
      font-weight: 400;
      margin-bottom: 4px;
      margin-top: 0;
    }
  }
  .cart-item-description {
    padding-left: 3em;
    h4 {
        margin-bottom: 1.5em;
        margin-top: 1em;
    }
  }
  .cart-item-quantity {
    h6 {
      float: left;
      margin-top: 10px;
      margin-right: 6px;
    }
    .line_item_quantity {
      width: 70%;
    }
  }
  .cart-item-image {
    img {
      width: 192px;
    }
  }
}

.bamboo-color {
  color: #333333;
  font-weight: 300;
}