// Product Styles
#individual-products {
  margin-bottom: 4em;
}

#product-images {
  .panel-body {
    height: 40em;
    img {
      max-height: 37em;
      width: 37.5em;
    }
  }
}
@media (max-width: 1000px) {
  #product-images {
    .panel-body {
      img {
        width: 30em;
      }
    }
  }
}

#products {
  .product-list-item {
    .img-responsive {
      max-width: 60%;
      margin: 0 auto;
    }
  }
}
#product-properties {
  td {
    padding: 25px;
    ul {
      padding: 10px;
    }
  }
}

#thumbnails {
  .thumbnail {
    width: 100% !important;
    height: 58px !important;
  }
}

#product-description {
  hr {
    border: 1px solid rgb(208, 205, 205);
    margin-bottom: 10px;
  }
  .product-title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 4px;
  }
  .product-category {
    color: #747171;
    font-size: 16px;
    margin-top: 2px;
  }
  .product-description {
    color: #8B7C7C;
    min-height: 20px !important;
    margin-bottom: 10px !important;
  }
  .learn-more {
    color: #747171;
    float: right;
    padding-right: 30px;
  }
}

#product-variants {
  .variant-option-values {
    a {
      font-size: 0.8em;
    }
  }
}

#spree-header {
  #logo {
    padding-top: 14px;
    img {
      width: initial;
    }
  }
}

.btn-wood {
  background-image: url('button-bg.png');
  background-color: white;
  background-size: 226px 120px;
  color: white;
  border: 1px solid #ccc;
  a:hover {
    color: black;
  }
  a .active {
    color: black;
  }
  a {
    color: white;
  }
}

.add-to-cart {
  width: 11em;
  .form-control {
    padding: 6px 9px;
  }
}

.items-related {
  margin-top: 6em;
}

.reviews-form {
  box-shadow: 7px 0px 8px 5px rgba(0, 0, 0, 0.4);
  border-radius: 0;
  margin: 0 auto;
  padding: 10px;
  width: 95%;
  h4 {
    text-align:  center;
  }
  form {
    width: 80%;
    margin: 0 auto;
  }
}

#taxon-crumbs {
  h3 {
    font-size: 16px;
  }
}

// Product Tabs

.product-tabs {
  margin-top: 4em;
  /* Tab Navigation */
  .nav-tabs {
    margin: 0;
    padding: 0;
    border: 0;    
  }
  .nav-tabs > li > a {
    // background: #DADADA;
    border-radius: 0;
    box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
  }
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover {
    // background: #F5F5F5;
    box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
  }

  /* Tab Content */
  .tab-pane {
    // background: #F5F5F5;
    box-shadow: 0 0 4px rgba(0,0,0,.4);
    border-radius: 0;
    padding: 10px;
  }
}

// related items
.related-entries-title {
  margin-top:20px;
  display:inline-block;
  font-size:17px;
  margin-bottom:15px;
}
ul.related-entries {
  padding-left:0;
  margin-left:-30px;
}
ul.related-entries li {
  width:33.33%;
  float:left;
  list-style:none;
}
ul.related-entries li .relatedinner {
  border:1px solid #eaeaea;
  margin-left:30px;
  margin-bottom:30px;
}
ul.related-entries li .relatedinner .edd-the-price {
  padding:10px 20px 0;
  display:block;
}
ul.related-entries li .relatedinner a.related-entry-title {
  padding:0px 20px 10px;
  display:block;
  font-weight:700;
  color:#333;
  font-size:14px;
  text-transform:uppercase;
}
ul.related-entries li .relatedinner a {
  color: inherit;
}

// instagram styles 
#instagram_photos {
  margin-top: 4em;
  .instagram-image {
    margin-bottom: 1em;
    img {
      width: 315px;
    }
  }
}

// Reviews
.reviews_link {
  .ratings {
    width: 28%;
    float: left;
  }
}