// customes styles

body {
  overflow-x: hidden;
  position:relative;
}

#spree-header {
  height: 4.5em;
  #header {
    background: none;
    padding: 5px 0;
  }
  #search-bar {
    #taxon, input[type='search'] {
      background-color: white;
      opacity: 0.6;
      width: 25em;
    }
  }
  .search-icon {
    position: absolute;
    top: 1em;
    left: 1.5em;
  }
}
.dropdown-menu, #spree-header {
  background-image: url('website_header_banner.png');
  background-size: cover;
}

.btn {
  border-radius: 0 !important;
}

// #content {
//   margin-bottom: 2em;
// }

.top-margin {
  margin-top: 1.3em;
  margin-right: 36px;
}

.btn-default {
  background-color: #fff;
  border: 2px solid #000;
  font-size: 12px;
  background: #fff;
  color: #7b7b7b;
  font-family: "Helvetica Neue","Helvetica",Arial,Segoe UI Symbol,sans-serif;
  padding: 0;
  width: 186px;
  height: 12px;
  line-height: 12px;
  width: 156px;
  height: 32px;
  color: #000;
}
.btn-default:hover, .btn-default:active:focus, .btn-default:visited:focus, .btn-default:focus  {
  color: #FFF;
  background-color: #333;
  border-color: #333;
}

@media (min-width: 1280px) {
  .modal-lg {
    width: 1024px;
  }
}
