// customes styles

body {
  overflow-x: hidden;
  position:relative;
}

#spree-header {
  height: 4.5em;
  #header {
    background: none;
    padding: 0;
    .container {
      li {
        height: 4.39em;
        a {
          height: 4.5em;
          padding-top: 22px;
        }
        .dropdown-menu {
          left: 0em;
          width: 15em;
          li {
            height: 1.5em;
          }
          a {
            padding-top: 0;
            height: initial;
          }
        }
      }
    }
  }
  .dropdown-menu {
    .divider {
      height: 1px !important;
    }
  }
  #search-bar {
    display: initial;
    #taxon, input[type='search'] {
      background-color: white;
      margin-top: 7px;
      opacity: 0.6;
      width: 25em;
    }
  }
  .search-icon {
    height: initial !important;
    position: absolute;
    top: 0;
    left: 1.5em;
  }
}
.dropdown-menu, #spree-header {
  background-image: url('website_header_banner.png');
  background-size: cover;
}

li.dropdown:hover {
  .dropdown-menu {
    display: block;
  }
}

.btn {
  border-radius: 0 !important;
}

@media (min-width: 1200px) {
  #spree-header {
    #header {
      .container {
        width: 100em;
      }
    }
  }
}
@media (max-width: 1200px) {
  #search-bar {
    display: none !important;
  }
}
// #content {
//   margin-bottom: 2em;
// }

.top-margin {
  margin-top: 1.3em;
  margin-right: 36px;
}

.btn-default {
  background-color: #fff;
  border: 2px solid #000;
  font-size: 12px;
  background: #fff;
  color: #7b7b7b;
  font-family: "Helvetica Neue","Helvetica",Arial,Segoe UI Symbol,sans-serif;
  padding: 0;
  width: 186px;
  height: 12px;
  line-height: 12px;
  width: 156px;
  height: 32px;
  color: #000;
}
.btn-default:hover, .btn-default:active:focus, .btn-default:visited:focus, .btn-default:focus  {
  color: #FFF;
  background-color: #333;
  border-color: #333;
}

@media (min-width: 1280px) {
  .modal-lg {
    width: 1024px;
  }
}

#search-3 {
  input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],textarea,select {
  display:inline-block;
  padding:7px 10px;
  width:100%;
  outline:none;
  border-width:1px;
  border-style:solid;
  border-color:#eee;
  background-color:transparent;
  color:#777;
  font-size:12px;
  -webkit-box-shadow:none;
  box-shadow: none;
}
}
