// workshops styles
#workshops{
  .item {
    height: 294px !important;
  }
  .bg-1 {
    background-image: url('workshop.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-y: -26em;
  }
}
.workshop-date {
  margin-bottom: 2em;
}

.nav-tabs {
  .active {
    background-image: url('button-bg.png');
    background-color: white;
    background-size: 470px 120px;
    color: white;
    border: 1px solid #ccc; 
    a {
      background-color: transparent !important;
      color: white !important; 
    }
  }
  li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
    a {
      color: #555555 !important;
    }
  }
}
