<!-- TITLE BEGINS -->
<header class="headerimage slider">
  <div id="slider" class="carousel slide" >
    <ul class="carousel-indicators">
      <li data-target="#slider" data-slide-to="0" class="active"></li>
      <li data-target="#slider" data-slide-to="1"></li>
      <li data-target="#slider" data-slide-to="2"></li>
    </ul>
    
    <div class="carousel-inner">
      <div class="item active bg-1"></div>
      <div class="item bg-2"></div>
      <div class="item bg-3"></div>
    </div>
  </div>  
  <div class="overlay">
    <article>
      <h1>SoulPoles</h1>
    </article>
  </div>
</header>


<!-- TITLE ENDS -->


<!-- ================================================== -->
<div class="actionbeforefooter text-center">
  <div class="container">
    <span><i class="fa fa-star fa-spin"></i> Psst! Like what you see? Enter code <b>WOWKAILO10</b> and get 10% discount for your total shopping cart. This week only! </span>
    <a target="_blank" class="actionbutton" href="#">Buy Now </a>
  </div>
</div>
